/*
 *name          NightFall Theme
 *author        Teixeira
 *internalcode  v1.glassThemeNF
 *version       #2025
*/

@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');
@import url('https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/SettingsIcons.css');   /* credits mwittrien por ter feito o codigo original */
@import url('https://raw.githubusercontent.com/guilhermeteixeira00/NightFallThemeDC/refs/heads/main/v1.membercoloredNF.css');

:root,
.theme-dark,
.theme-light {
    --rgb-online-color: 31, 147, 80;                                /* (31, 147, 80: Padrão Verde) /* A cor usada no símbolo de status do usuário "online" */
    --rgb-afk-color: 220, 163, 46;                                  /* A cor usada no símbolo de status do usuário "ocioso" */
    --rgb-dnd-color: 224, 58, 62;                                   /* A cor usada no símbolo de status do usuário "não perturbe" */
    --rgb-streaming-color: 254, 19, 19;                             /* A cor usada no símbolo de status do usuário "streaming X" */
    --status-danger-rgb: rgb(255, 26, 26);                        /* A cor usada para cada ação/botão de perigo */
    --status-alert-rgb: rgb(255, 217, 0);                         /* A cor usada para cada ação/amarela de alerta */
    --status-success-rgb: rgb(43, 255, 0);                         /* A cor usada para cada ação/botão de sucesso */
    
    --HSL-server-icon-size: 45px;                                   /* Tamanho dos ícones do servidor | Padrão: 40px */
    --HSL-server-spacing: 10px;                                     /* Espaçamento entre cada ícone do servidor | Padrão: 10px */
    --HSL-server-direction: column;                                 /* Diretorio da lista de servidores. | Opções: column, column-reverse | Padrão: column */
    
    --custom-image-url: url('https://i.imgur.com/EdoxJeJ.png');     /* fundo img */
    
    --custom-logo: url('https://i.imgur.com/UTUa6Zl.gif');          /* logotipo personalizado */
    --custom-logo-hover: url('https://i.imgur.com/UTUa6Zl.gif');    /* logotipo personalizado (hover) */
    
    --file-ver: "#2025";

    /*Background*/
    --background-image: var(--custom-image-url);
    --app-blur: 1px;
    --button-background: linear-gradient(60deg, var(--highlight), var(--highlight-darker));
    --button-background-static: var(--highlight);
    --background-primary: rgba(24, 24, 24, 0.26) !important;
    --background-secondary: rgba(26, 26, 26, 0.500) !important;
    --background-modifier-hover: rgba(20, 20, 20, 0.500);
    --box-shadow: 0 0 10px 0px black;

    --cat-color-rgba: var(--cat-custom-color-rgba);
    --highlight: rgb(var(--rgb-highlight));
}

/* Nova atualização Dc */
.content_c48ade{
    background: var(--background-image);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.borderRadius__6341f {
    border-radius: 6px;
    border: 2px solid red;
}

.visual-refresh .container__0f2e8 {
    background: var(--bg-overlay-4, var(--background-surface-high));
    max-width: calc(var(--custom-member-list-width) - 16px);
    border-radius: 0px;
}

.childContainer__91a9d  {
    border-radius: inherit;
    padding: 0px;
}

.visual-refresh .member__5d473 {
    max-width: calc(var(--custom-member-list-width) - 16px);
    padding: 4px;
    margin: 0 0 5px 10px;
}

.visual-refresh .wrapper_ef3116 {
    background-color: transparent;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
}

.visual-refresh .sidebarListRounded_c48ade {
    border-top-left-radius: var(--radius-md);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
}

.visual-refresh .container__2637a {
    background: transparent;
    margin-left: 0;
}

.activityPanel_c48ade {
    border-radius: 0px;
}

.theme-dark .container__37e49, .container__37e49 {
    border-radius: 0px;
}

.justifyStart_abf706 {
    justify-content: center;
}

:where(.visual-refresh) .footer__49fc1 {
    padding-top: 10px;
}

.visual-refresh .colorDanger__6e2b9 {
    background-size: 200%;
    --custom-notice-background: linear-gradient(to left, black, red, black, red);;
    --custom-notice-text: var(--notice-text-critical);
    --custom-notice-button-hover: var(--notice-text-critical);
    animation: backgroundanim 2.5s linear infinite;
}

.visual-refresh .colorDefault__6e2b9, .visual-refresh .colorSuccess__6e2b9 {
    background-size: 200%;
    --custom-notice-background: linear-gradient(to left, black, green, black, green);;
    --custom-notice-text: var(--notice-text-critical);
    --custom-notice-button-hover: var(--notice-text-critical);
    animation: backgroundanim 2.5s linear infinite;
}
@keyframes backgroundanim {
    to {
        background-position: 200%;
    }
}

.visual-refresh .notice__6e2b9 .button__6e2b9 {
    border-color: snow !important;
}
.notice__6e2b9 .button__6e2b9 {
    color: snow !important;
    font-weight: bolder;
    border-color: var(--custom-notice-text) !important;
}


.notice__6e2b9 {
    font-weight: bolder;
    color: snow;
}

.button__6e2b9 {
    border-radius: 0px;
}

.visual-refresh .scroller__99e7c {
    background: transparent;
}

path{
    color: snow;
}

:where(.visual-refresh) .overlap__07f91 .avatar__07f91 {
    border-color: snow;
}
.overlap__07f91 .avatar__07f91 {
    margin: 0;
    border: 2px solid snow;
}

.visual-refresh .sidebar_c48ade:after {
    background: transparent;
}

.visual-refresh.theme-midnight .callContainer_cb9592 {
    border-left: 1px solid snow;
}
.visual-refresh .callContainer_cb9592 {
    border-top: 1px solid snow;
    border-bottom: 1px solid snow;
    border-right: 1px solid snow;
    border-left: 1px solid snow;
}

.content__908e2 {
    color: snow !important;
}

.visual-refresh .container_c8ffbb {
    background: transparent;
}

.sidebarScrollable__53543{
    position: absolute;
    left: 0;
    top: 0px;
    bottom: 0px;
    width: var(--custom-layout-sidebar-width);
}

.layoutStyle__0ab2c {
    position: relative;
    padding: 24px 5px 80px 0px;
    color: var(--text-normal);
    width: 100%;
}

.side_b3f026 {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.anchor_edefb8 {
    color: red;
    margin-left: 4px;
}

.standardSidebarView__23e6b, .standardSidebarView__23e6b * {
    box-sizing: border-box;
}

.sidebarScrollable__53543 + .content__53543 {
    margin-left: var(--custom-layout-sidebar-width);
    max-width: 400px;
}

.content__99f8c {
    position: relative;
}

.roleMemberList__1a4ef {
    max-height: 400px;
    padding: 0px 16px 8px;
}

.memberRow__1a4ef {
    position: relative;
    padding: 0px 40px;
}

.visual-refresh .privateChannels__35e86 {
    background: transparent;
}

.visual-refresh .chat_f75fb0 {
    background: transparent;
}

.themed__9293f, .theme-dark .themed__9293f {
    border-radius: 8px 8px 0px 0px;
    background: transparent;
}

.visual-refresh .searchBar__35e86 {
    box-sizing: border-box;
    box-shadow: none;
}

.theme-dark .container__37e49, .theme-dark .panel__5dec7, .container_fea832, .searchBar__35e86, .lookFilled__3f413.select__3f413, .connectionHeader_c7f964, .container_f369db, .connectContainer_c7f964, .container__133bf, .theme-dark .scroller__99e7c, .wrapper_cb9592.minimum_cb9592 {
    background-color: transparent;
    backdrop-filter: blur(2px);
    text-shadow: 1px 1px black;
}

.visual-refresh .searchBar__35e86 {
    box-sizing: border-box;
    box-shadow: none;
}

.visual-refresh .sidebarListRounded_c48ade {
    border-top-left-radius: none;
}

.usernameFont__07f91.username__07f91{
    color: snow;
    font-weight: bolder;
}

.usernameFont__07f91.username__07f91.usernameSpeaking__07f91{
    color: green;
    font-weight: bolder;
}

.usernameFont__07f91.username__07f91.usernameSpeaking__07f91:hover{
    color: green;
}

.iconVisibility_c69b6d  .name__2ea32{
    color: snow;
}

.modeMuted__2ea32 .name__2ea32{
    color: #4e4e4e;
}

.modeUnreadImportant__2ea32 .name__2ea32{
    color: green;
}

.modeUnreadImportant__2ea32:hover .name__2ea32{
    color: green;
}

.header__13cf1 .overflow__82b15{
    color: rgb(255, 0, 0);
}

.container__8061a {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    box-sizing: border-box;
    width: -moz-fit-content;
    width: fit-content;
    height: 25px;
    gap: 2px;
    margin: 1px 0;
    padding: 0 2px;
    background: var(--bg-mod-faint);
    border-radius: var(--radius-xs);
    border: 1px solid var(--border-faint);
}

.anchor_edefb8.anchorUnderlineOnHover_edefb8 img{
    position: relative;
    top: -15px;
}

.members_c8ffbb {
    background: transparent;
    border-radius: 0px 0px 8px 8px;
}

.containerDefault__29444 {
    display: flex;
    align-items: center;
    justify-content: center
}

.containerDefault__29444::before {
    content: "";
    width: 100%;
    height: 2px;
    margin-right: -11px;
    display: inline-block;
    background: linear-gradient(90deg, rgba(var(--cat-color-rgba), 0) 0%, rgba(var(--cat-color-rgba), 1) 100%)
}

.containerDefault__29444::after {
    content: "";
    width: 100%;
    height: 2px;
    margin-left: -3px;
    display: inline-block;
    background: linear-gradient(90deg, rgba(var(--cat-color-rgba), 1) 0%, rgba(var(--cat-color-rgba), 0) 100%)
}

.members_c8ffbb {
    background: transparent;
    border-radius: 0px 0px 8px 8px;
}

/* discord logo color */
.childWrapper__6e9f8 {
    color: var(--highlight);
}

.childWrapper__6e9f8 path{
    color: transparent;
}

.tutorialContainer__1f388 .childWrapper__6e9f8 { 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: var(--custom-logo) !important;
}
.tutorialContainer__1f388 .childWrapper__6e9f8:hover {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: var(--custom-logo-hover) !important;
}

.tutorialContainer__1f388 .wrapper__6e9f8.selected__6e9f8 .childWrapper__6e9f8  {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: var(--custom-logo-hover) !important;
}

.container_fc561d {
    position: absolute;
    left: -40px;
}

.modeSelected__2ea32 .link__2ea32,
.modeSelected__2ea32:hover .link__2ea32 {
    background: green;
}

.visual-refresh .circleIconButton__5bc7e:hover:not(.disabled__5bc7e){
    background-color: red;
}

.visual-refresh .circleIconButton__5bc7e:hover:not(.disabled__5bc7e){
    background-color: red;
}

.visual-refresh .container__37e49{
    background-color: rgba(255, 0, 0, 0.527);
    border-radius: 0 0 5px 5px;
    border: 1px solid snow;
}

.panel__5dec7.activityPanel_c48ade{
    background-color: rgba(255, 0, 0, 0.527);
    border-radius: 5px 5px 0 0;
    border: 1px solid snow;
}

.wrapper_e131a9{
    border: 1px solid snow;
}

.visual-refresh .button_e131a9.buttonColor_e131a9, .visual-refresh .button_e131a9 .buttonColor_e131a9{
    border: 2px solid snow;
}

.visual-refresh .container__0f2e8{
    border: 1px solid snow;
}

.theme-dark .experimentButton_e131a9.buttonColor_e131a9.buttonActive_e131a9, .theme-dark .experimentButton_e131a9 .buttonColor_e131a9.buttonActive_e131a9, .theme-dark.custom-theme-background .experimentButton_e131a9.buttonColor_e131a9.buttonActive_e131a9, .theme-dark.custom-theme-background .experimentButton_e131a9 .buttonColor_e131a9.buttonActive_e131a9 {
    background-color: green;
    color: var(--green-300);
    border: 2px solid snow;
}

/* ========================================================================== */