.member_c8ffbb {
    background: var(--background-primary);
}

.member__5d473.member_c8ffbb:has(rect[mask="url(#svg-mask-status-online)"]),
.member__5d473.member_c8ffbb:has(rect[mask="url(#svg-mask-status-online-mobile)"]){
    border-left: 5px solid green;
    border-right: 5px solid green;
    border-top: 1px solid #ffffff94;
    border-bottom: 1px solid #ffffff94;
}

.member__5d473.member_c8ffbb:has(rect[mask="url(#svg-mask-status-dnd)"]),
.member__5d473.member_c8ffbb:has(rect[mask="url(#svg-mask-status-dnd-mobile)"]) {
    border-left: 5px solid red;
    border-right: 5px solid red;
    border-top: 1px solid #ffffff94;
    border-bottom: 1px solid #ffffff94;
}

.member__5d473.member_c8ffbb:has(rect[mask="url(#svg-mask-status-idle)"]),
.member__5d473.member_c8ffbb:has(rect[mask="url(#svg-mask-status-idle-mobile)"]) {
    border-left: 5px solid yellow;
    border-right: 5px solid yellow;
    border-top: 1px solid #ffffff94;
    border-bottom: 1px solid #ffffff94;
}

.member__5d473.member_c8ffbb:has(rect[mask="url(#svg-mask-status-streaming)"]) {
    border-left: 5px solid purple;
    border-right: 5px solid purple;
     border-top: 1px solid #ffffff94;
    border-bottom: 1px solid #ffffff94;
}

.selected__91a9d {
    background: none;
    border-radius: 3px;
    border-left: 3px solid var(--highlight);
    border-top: 1px solid var(--app-border-frame);
    border-bottom: 1px solid var(--app-border-frame);
    border-right: 1px solid var(--app-border-frame);
}

.selected__91a9d .childContainer__91a9d {
    background: none;
}

.icon__8ac07 path[fill="#23a55a"] { 
    fill: var(--online-color);
}

.PI-icon_desktop[data-status="online"], .PI-icon_mobile[data-status="online"], .PI-icon_embedded[data-status="online"], .PI-icon_web[data-status="online"] { 
    color: var(--online-color) !important;
}