:root {
  --red-dot: var(--status-danger);
  --yellow-dot: var(--status-alert);
  --green-dot: var(--status-success); 
}

.winButtonClose_c38106 {
  background-color: red !important;
  margin-right: 5px;
}
.winButton_c38106.winButtonMinMax_c38106:nth-child(2n) {
  background-color: yellow !important;
}
.winButton_c38106.winButtonMinMax_c38106:nth-child(1n):not(:nth-child(2n)) {
  background-color: green !important;
}

.winButtonClose_c38106:hover{
  opacity: 0.5;
}
.winButton_c38106.winButtonMinMax_c38106:hover{
  opacity: 0.5;
}

.winButtons_c38106 {
    transform: rotate(180deg);
}

.winButton_c38106 {
  border-radius: 100%;
  width: 16px;
  height: 16px;
  top: 0px;
  margin-left: 3px;
}

.winButton_c38106 svg {
  color: transparent;
}

.winButton_c38106 svg:hover {
  color: black;
}

.trailing_c38106{
    position: fixed;
    left: 0;
    display: flex;
    flex-direction: row-reverse;
}

.trailing_c38106, .winButtons_c38106 {
    justify-content: flex-end;
    padding: 10px;
}